.skew {
  position: absolute;
  background-color: #0891b2;
  height: 150vh;
  width: 100vw;
  top: 0;
  z-index: -1;
  transform: skewY(-30deg) translateY(-58%);
}

@media (min-width: 950px) {
  .skew {
    height: 100vh;
    transform: skewY(-15deg) translateY(-30%);
  }
}

@media (min-width: 1375px) {
  .skew {
    height: 175vh;
    transform: skewY(-15deg) translateY(-50%);
  }
}